@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--surface-ground);
    color: var(--text-color);
}